.avis{
    background-color: #F5F8FB;
    padding: 20px;
}
.title-avis h1{
    color:#0C263B
}

.title-avis p{
    color: #6F7B84;
}
.card-avis{
    padding: 10px;
    width: 410px;
    border: 1px solid #EEEEEE;
    border-radius: 14px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    box-shadow: 0px 12px 21px #0000000a;
}
.card-title{
    display: flex;
}
.company-info{
    text-align: left;
}
.rating{
    text-align: left;
}
.userInfo{
    text-align: left;
    display: flex;
    align-items: center;
}
.card-note{
    text-align: left;
}
.avis-cards{
    display: flex;
    justify-content: space-around;
}